<div class="filter-container">
  <span>Filter :</span>
  <br />
  <input
    type="radio"
    name="filter"
    value="all"
    [(ngModel)]="selectedFilterRadioButton"
    (change)="handleSelectedRadioButton()"
  />
  <span>{{ "All (" + all + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="inStock"
    [(ngModel)]="selectedFilterRadioButton"
    (change)="handleSelectedRadioButton()"
  />
  <span>{{ "In stock (" + inStock + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="outOfStock"
    [(ngModel)]="selectedFilterRadioButton"
    (change)="handleSelectedRadioButton()"
  />
  <span>{{ "Out of Stock(" + outOfStock + ")" }}</span>
</div>
