<img src="{{ product.pImg }}" alt="messi-img" height="300" width="500" />
<img [src]="product.pImg" alt="messi-img" height="300" width="500" />

<button [disabled]="!(product.inStock > 0)">Buy now</button>
<input type="text" bind-value="name" (input)="onNameChange($event)" />
<p>name={{ name }}</p>

<button (click)="handleIncrement()" class="btn btn-primary">+</button>
<span>{{ quantity > 0 ? quantity : quantityZero }}</span>
<button (click)="handleDecrement()" class="btn btn-secondary">-</button>
